PROJECT_NAME="Football Data Platform"
API_V1_STR="/api/v1"
DEBUG=true

MONGODB_URL="mongodb://localhost:27017"
MONGODB_DB_STATSBOMB_RAW="statsbomb_raw"
MONGODB_DB_UNDERSTAT_RAW="understat_raw"
MONGODB_DB_FBREF_RAW="fbref_raw"
MONGODB_DB_UNIFIED="football_unified"

SECRET_KEY="supersecretkey"
